# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs / local
logs/
*.log
application-local.yml
.env
.env.local

# Build
*.class
*.jar
*.war
!**/src/main/**/lib/*.jar
